
<div id="super-container">
  <select id="dropdown">
    <option value="books">Books</option>
    <option value="records">Records</option>
    <option value="all">All</option>
  </select>

  <form class="form-inline" role="form">
    <div id="location-container">
      <div id="text-field-container">
        <div class="form-group">
          <p>
           <input type="text" name="location" placeholder="Location">
           <button type="submit" class="btn btn-default">Submit</button>
          </p>
        </div>
      </div>
    </div>
  </form>

  <div id="block-button">
    <%= button_to "Add Store", "/stores/new", method: :get %>
  </div>
  <p>
    <%= button_to "Log out", "/authentications/_", method: :delete %>
  </p>
</div>

<script src="scripts/scripts.js"></script>