// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

body,html {
  height: 100%;
}

/*Set up background image*/

#super-container-store {
  background-image: url('IMG_0005.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 640px;
  width: 480px;
  margin: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.img-thumbnail {
  height: 140px;
  width: 140px;
}

.pull-right {
  float: right !important;
}
