// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#dropdown {
  opacity: 0.8;
  border: none;
  margin: 10px;
}

body,html {
  height: 100%;
}

/*Set up background image*/

#super-container {
  background-image: url(image-path('IMG_0003.png'));
  background-repeat: no-repeat;
  background-position: center;
  height: 640px;
  width: 480px;
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

#controls {
  padding-top: 10px;
  margin-left: 10px;
}

#text-field-container {
  margin-bottom: 10px;
}

#location-container {
  margin-top: 20px;
}

#block-button {
  margin-top: 20px;
	margin-right: auto;
  margin-left: auto;
}